@model IEnumerable<RouteOptimization.Infrastructure.Store>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retailer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retailer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreID })
        </td>
    </tr>
}

</table>
