@model IEnumerable<RouteOptimization.Infrastructure.Product>
    <table id="dt_basic" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.ListPrice)
                </th>
                <th>
                    <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>@Html.DisplayNameFor(model => model.Weight)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item, new {onclick = "load("+item.ProductID+")"}) |
                    @*@Html.ActionLink("Edit", "Edit", item, new { onclick = "load();"}) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>