<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Route Optimization</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <header id="header">
            <div id="logo-group">
                <!-- PLACE YOUR LOGO HERE -->
                <span id="logo">
                    @*<img  src="@Url.Content(ViewBag.logo)" />*@

                    @*@if (Session["Logo"] != null)
                        {
                            string logo = Session["Logo"].ToString();
                            <img src="@Url.Content(logo)">
                        }*@

                </span>
                <!-- END LOGO PLACEHOLDER -->
            </div>

            <!-- pulled right: nav area -->
            <div class="pull-right">
                <!-- logout button -->
                <div class="btn-header transparent pull-right" id="logout">
                    <span><a data-logout-msg="You can improve your security further after logging out by closing this opened browser" data-action="userLogout" href="@Url.Action("Logout", "Login")" title="Sign Out"><i class="fa fa-sign-out"></i></a></span>
                </div>
                <!-- end logout button -->
                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->
                <!-- search mobile button (this is hidden till mobile view port) -->
                <div class="btn-header transparent pull-right" id="search-mobile">
                    <span><a href="javascript:void(0)" title="Search"></a></span>
                </div>
                <!-- end search mobile button -->
                <!-- fullscreen button -->
                <div class="btn-header transparent pull-right" id="fullscreen">
                    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                </div>
                <!-- end fullscreen button -->

                <div class="btn-group mainPageHeaderButton">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="false">
                        <span>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img alt="" src="~/Content/Images/flags/us.png" />
                                <span>US </span>
                            </a>
                        </span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">
                                <img class="flag flag-fr" src="~/Content/Images/blank.gif">
                                French
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img alt="" src="~/Content/Images/flags/es.png">
                                Spanish
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group mainPageHeaderButton">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="false">
                        <span>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Walmart Canada
                            </a>
                        </span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Costco Canada
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Walmart Canada
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Walmart USA
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                Target Canada
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- end pulled right: nav area -->
        </header>
        <aside id="left-panel">

            <!-- User info -->
            <div class="login-info">
                <span>
                    <!-- User image size is adjusted inside CSS, it should stay as it -->
                    <a href="@Url.Action("Profile", "UserProfile")">
                        @{
                            string profileImg = "~/Content/Images/avatars/male.png";

                            <img src="@Url.Content(profileImg)" alt="me" class="online">
                            <span>
                                Danny
                            </span>
                            <i class="fa fa-angle-down"></i>
                        }
                    </a>
                </span>
            </div>
            <!-- end user info -->
            <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
            <nav>
                <!-- NOTE: Notice the gaps after each icon usage <i></i>..
                Please note that these links work a bit different than
                traditional href="" links. See documentation for details.
                -->

                <ul style="">

                    <li id="lnkHome">
                        <a href="@Url.Action("Index", "Home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
                    </li>

                    <li id="lnkMyWork">
                        <a href="#"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span class="menu-item-parent">My Work</span></a>
                        <ul>
                            <li id="lnkConsole">
                                <a href="@Url.Action("Console", "MyWork")">Console</a>
                            </li>
                        </ul>
                    </li>

                    <li id="lnkDashboard">
                        <a href="#"><i class="fa fa-lg fa-fw fa-table"></i><span class="menu-item-parent">Dashboards</span></a>
                        <ul>
                            <li id="lnkDashboardView">
                                <a href="@Url.Action("ViewDashboard", "Dashboard")">View</a>
                            </li>

                            <li id="lnkDashConfigurations">
                                <a href="@Url.Action("ConfigureDashboards", "Dashboard")">Configurations</a>
                            </li>

                            <li id="lnkDashboard1">
                                <a href="@Url.Action("Dashboard1", "Dashboard")">Historical Sales</a>
                            </li>

                            <li id="lnkDashboard2">
                                <a href="@Url.Action("Dashboard2", "Dashboard")">Historical Inventory</a>
                            </li>
                        </ul>
                    </li>

                    <li id="lnkReports">
                        <a href="#"><i class="fa fa-lg fa-fw fa-file"></i><span class="menu-item-parent">Reports</span></a>
                        <ul>
                            <li id="lnkDownloadReports">
                                <a href="@Url.Action("DownloadReports", "Reports")">Downloads</a>
                            </li>

                            <li id="lnkUploadData">
                                <a href="@Url.Action("DragAndDropCSV", "Reports")">Upload Data</a>
                            </li>

                            <li id="lnkReportsConfiguration">
                                <a href="@Url.Action("ConfigureReport", "Reports")">Configurations</a>
                            </li>
                        </ul>
                    </li>

                    <li id="lnkForecast">
                        <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i><span class="menu-item-parent">Forecasting</span></a>
                        <ul>
                            <li id="lnkViewForecast">
                                <a href="@Url.Action("ViewForecast", "Forecasting")">View</a>
                            </li>

                            <li id="lnkConfigureForecast">
                                <a href="@Url.Action("ConfigureForecast", "Forecasting")">Configurations</a>
                            </li>
                        </ul>
                    </li>

                    <li id="lnkAnalystTools">
                        <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i><span class="menu-item-parent">Analyst Tools</span></a>
                        <ul>
                            <li id="lnkAnalystLists">
                                <a href="@Url.Action("Lists", "AnalystTools")">Search</a>
                            </li>
                        </ul>
                    </li>

                    <li id="lnkMerchandising">
                        <a href="#"><i class="glyphicon glyphicon-barcode"></i><span class="menu-item-parent">Merchandising</span></a>
                        <ul>
                            <li id="lnkFieldMerchandising">
                                <a href="javascript:void(0)">Field Merchandising</a>
                                <ul>
                                    <li id="lnkMerchandisingDashboards">
                                        <a href="@Url.Action("Field", "Merchandising")">Dashboards</a>
                                    </li>
                                    <li id="lnkField">
                                        <a href="@Url.Action("Field", "Merchandising")">Manage Field User</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="lnkSpacePlanning">
                                <a href="@Url.Action("SpacePlanning", "Merchandising")">Space Planning</a>
                            </li>

                        </ul>
                    </li>

                    <li id="lnkPackaging">
                        <a href="#"><i class="glyphicon glyphicon-tag"></i><span class="menu-item-parent">Packaging</span></a>
                        <ul>
                            <li id="lnkPackSpecs">
                                <a href="@Url.Action("PackSpecs", "Packaging")">Packspec's</a>
                            </li>
                            <li id="lnkCustomerManagement">
                                <a href="@Url.Action("CustomerManagement", "Packaging")">Customer Management</a>
                            </li>

                        </ul>
                    </li>

                    <li id="lnkAdmin">
                        <a href="#"><i class="fa fa-lg fa-fw fa fa-cog txt-color-blue"></i><span class="menu-item-parent">Admin</span></a>
                        <ul>
                            <li id="lnkAdminCompanyProfile">
                                <a href="@Url.Action("CompanyProfile", "Admin")">Company Profile</a>
                            </li>

                            <li id="lnkManageUsers">
                                <a href="@Url.Action("ManageUsers", "Admin")">Manage Users</a>
                            </li>

                            <li id="lnkProductsAndServices">
                                <a href="@Url.Action("ProductsAndServices", "Admin")">Products & Services</a>
                            </li>

                            <li id="lnkItemMaintainenance">
                                <a href="@Url.Action("ItemMaintenance", "Admin")">Item Maintenance</a>
                            </li>

                            <li id="lnkBillingAndPaymentMethod">
                                <a href="@Url.Action("BillingAndPaymentMethod", "Admin")">Billing & Payment Method</a>
                            </li>

                            <li id="lnkInvoices">
                                <a href="@Url.Action("Invoices", "Admin")">Invoices</a>
                            </li>

                            <li id="lnkMoreCredits">
                                <a href="@Url.Action("BuyMoreCredits", "Admin")">Buy More Credits</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
        </aside>

        <!-- MAIN PANEL -->
        <div id="main">
            <!-- RIBBON -->
            <div id="ribbon_gng">
                @*<span class="ribbon-button-alignment btn btn-ribbon" data-html="true" data-original-title="message..." data-placement="bottom" data-title="refresh" id="refresh"></span>*@
                <!-- breadcrumb -->
                @*<div id="pageTitle" class="breadcrumb">
                    </div>*@
                @*<div id="pageTitle"></div>*@
                <!-- end breadcrumb -->

            </div>
            <!-- END RIBBON -->
            <!-- MAIN CONTENT -->

            <div id="content">
                @RenderBody()

            </div>
            <!-- END MAIN CONTENT -->

        </div>

        <div id="shortcut">
            [METRO_SHORTCUT]
        </div>

        <!-- PAGE FOOTER -->
        <div class="page-footer">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <span class="txt-color-white">ONE MDC © 2012</span>
                </div>

                <div class="pull-right">
                    <a href="http://www.instantssl.com/wildcard-ssl.html" style="text-decoration:none; ">
                        <img alt="Wildcard SSL" src="~/Content/Images/ssl/comodo_secure_76x26_transp.png" style="border: 0px;" />
                        <span style="font-weight:bold;font-size:12px; padding-right:10px; color:#77BAE4;">SSL Certificate</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- END PAGE FOOTER -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
